.weather-pane {
    width: 100%;
    height: 100%;
    grid-row: 7/span 3;
}

#info-pane {
    grid-row: 10/11;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    font-size: 20px;
}

#account-pane {
    grid-column: 1/span 3;
}

#setting-pane {
    grid-column: 4/5;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

