.search-box {
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    padding: 10px;
    background: #F5F5F5;
    display: none;
    align-items: center;
}

#search-input {
    height: 40px;
    width: 100%;
    border: 1px solid #2465F7;
    outline: none;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 400;
}

#search-input:active {
    border: 1px solid #2465F7;
    outline: none;
}

.showSearchBox {
    display: flex;
    z-index: 2;
}