.action-pane {
    float: left;
    height: 100%;
    display: grid;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    /* grid-template-columns: 20% 20% 20% 20% 20%; */
    
}

#add-btn {
    grid-row: 1/2;
}

#search {
    grid-row: 2/3;
}


.btn {
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
    border-radius: 5px;
    color: #838383;
    font-size: 20px;
    height: 100%;
}

.btn:hover, #setting-pane:hover, #account-pane:hover, .weather-pane:hover {
    background-image: linear-gradient(to top right, #F5F6F7, #DCDDDE);
}

#plus-icon, #magnifier-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/2;
}
